{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
  <ul>
    <li><a href="/page1">That thing we do</a></li>
    <li><a href="/page2">The other thing</a></li>
  </ul>

<p>This is a sample application to demonstrate authenticating against github oauth,
using Flask, on Heroku.   </p>

<p>The source code is available on github at
  <a href="https://github.com/pconrad-flask/flask-github-oauth-example-01">https://github.com/pconrad-flask/flask-github-oauth-example-01</a></p>

<p>This is provided for participants in <a href="https://ccs.ucsb.edu/courses/2018/fall/computing-non-majors-2nd-course">UCSB CCS CMPTGCS 20, Fall 218</p>


{% endblock %}
